@model IEnumerable<ClockIn_ClockOut.Models.User>
<script src="~/Scripts/Custom%20Scripts/Indexing.js"></script>



    <div class="bs-example">
        <div class="panel-group" id="accordion">

            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a id="collapseName@(item.ID)" data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.ID)">Name1</a>
                            <a id="collapseTime@(item.ID)" class="navbar-right" data-toggle="collapse" data-parent="#accordion">TIME</a>
                        </h4>
                    </div>
                    <div id="collapse@(item.ID)" class="panel-collapse collapse">
                        <div id="html@(item.ID)" class="panel-body">
                            <p>His hours worked<a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
