@model IEnumerable<ClockIn_ClockOut.Models.TimeEntry>

@{
    ViewBag.Title = "Punch Card";
}
<script src="~/Scripts/Custom%20Scripts/TimeClock.js"></script>
<h2>PunchCard</h2>
<p>
    
        @using (Html.BeginForm("PunchCard", "TimeEntry"))
        {
            <center><button class="btn btn-inverse btn-lg" id="punchOut" title="Punch Out" type="button">Punch Out</button></center>
        }
    
        @using (Html.BeginForm("PunchCard", "TimeEntry"))
        {
            <center><button class="btn btn-inverse btn-lg" id="punchIn" title="Punch In" type="button">Punch In</button></center>
        }
    
</p>

<div id="timesTable">
    
</div>


